# Python
backend/venv/
backend/__pycache__/
*.pyc

# Environment
.env

# Firebase
firebase-credentials.json
backend/firebase-credentials.json

# Node
frontend/node_modules/

# Build
dist/
build/

# VS Code
.vscode/

# Logs
*.log